@{
    ViewBag.Title = "Menu";
    Layout = "_Layout";
}

<div class="position-relative">
    <div class="intro vh-100"></div>
    <form class="signUpForm">
        <h1 class="text-center">JOURNEY</h1>
        <br />
        <div class="d-flex justify-content-center">
            <a href="/Play/Hall" class="btn btn-warning float-right w-100 p-3">Play Game</a>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <a href="/Play/Settings" class="btn btn-warning float-right w-100 p-3">Settings</a>
        </div>
        <br />
        <div class="d-flex justify-content-center"> 
            <a href="/Play/Exit" class="btn btn-warning float-right w-100 p-3">Exit Game</a>
        </div>
    </form>
</div>