<div class="modal fade" id="game2048Modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Galaxy 2048</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="game2048Canvas">
                        <div class="startMessage-2048">
                            <div class="gameover-2048">Get Ready</div>
                            <div class="message-2048">Click to continue</div>
                        </div>
                        <div class="loseMessage-2048">
                            <div class="gameover-2048">Game Over</div>
                            <div class="score-2048">Score: 0</div>
                            <div class="score-2048">Best Score: 0</div>
                        </div>
                        <div class="grid-2048"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/game2048.js"></script>