<!-- Blue room guide modal -->
<div class="modal fade" id="blueRoomGuideModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Guide of Game Mini: Cosmic Snake</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        + Description: The player tries to eat the stars by running into them with the snake's head. Each star eaten makes the snake longer. When the snake's head collides with itself, the player loses.
                    </p>
                    <p>
                        + Movements: Press [A][W][D][S].
                    </p>
                    <p>
                        + Status: ready, playing, over; Click to change.
                    </p>
                    <p>
                        + Calculations: Eat 1 star to increase 1 point; The amount of bonus experience is equal to total points x 2; The number of bonus coins is equal to the total score.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>