<div class="modal fade" id="flappyGameModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Flappy Game</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <canvas id="flappyCanvas" width="320" height="480"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/flappyGame.js"></script>