<!-- Green room guide modal -->
<div class="modal fade" id="greenRoomGuideModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Guide of Game Mini: Spaceship Flappy</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        + Description: Control the spaceship to move continuously through tubes of equal size gaps placed at random heights. The spaceship automatically descends and only rises when the player clicks the mouse. For each successful passage of a tube, the player will receive one point. Colliding with a pipe or the ground, game over.
                        + Movements: Mouse click
                        + Status: ready, playing, over; Click to change.
                        + Calculations: Fly over a tube increases 1 point; The number of bonus experience points is equal to total points x 2; The number of bonus coins is equal to the total number of points.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>