@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journey - @ViewData["Title"]</title>
    <link rel="icon" href="~/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/forms.css">
    <link rel="stylesheet" href="~/css/loading.css">
    <link rel="stylesheet" href="~/css/playerinfo.css">
    <link rel="stylesheet" href="~/css/maps.css">
    <link rel="stylesheet" href="~/css/settings.css">
    <link rel="stylesheet" href="~/css/store.css">
    <link rel="stylesheet" href="~/css/portal.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
        <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/logo.png" width="35" height="35" />
            <span class="ml-3">Journey</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav" id="navbarNav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Index">Play Now</a>
                </li>

                @if (@Context.Session.GetString("username") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<main role="main">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c7725374a5.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr-chat.js" asp-append-version="true"></script>
<script src="~/js/navbar.js"></script>
<script src="~/js/menu.js" asp-append-version="true"></script>
<script src="~/js/multiplayer.js" asp-append-version="true"></script>
<script src="~/js/playerinfo.js" asp-append-version="true"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<script src="~/js/settings.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>