<!-- Purple room guide modal -->
<div class="modal fade" id="purpleRoomGuideModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Guide of Game Mini: Dinosaur</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        + Description: The character will run continuously to the right. Players need to press the jump key to overcome the obstacles. The longer the player goes, the higher the score.
                        + Movements: The system automatically moves. Press [Space] to jump.
                        + Status: ready, playing, over; Click to change.
                        + Calculations: ...
                </div>
            </div>
        </div>
    </div>
</div>