<!-- Purple room guide modal -->
<div class="modal fade" id="purpleRoomGuideModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Guide of Game Mini: Robotic Dinosaur</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        + Description: The robot automatically runs continuously to the right and the player needs to press the jump key to overcome the obstacles. The further you go, the higher the score.
                        + Movements: The system automatically moves. Press [Space] to jump.
                        + Status: ready, playing, over; Click to change.
                        + Calculations: The amount of bonus experience is equal to the total score/10; The number of bonus coins is equal to the amount of experience/2.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>