<!-- Red room guide modal -->
<div class="modal fade" id="redRoomGuideModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header align-items-center justify-content-center" style="border-bottom: none;">
                <h5 class="modal-title">Guide of Game Mini: Galaxy 2048</h5>
                <button type="button" class="close position-absolute" style="right: 1rem; outline: none;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        + Description: Each turn, a new tile randomly appears in an empty spot on the board with a value of 2. The tiles slide as far as possible in the selected direction until they are blocked by another tile or the edge of the grid. If two tiles with the same number collide while moving, they will merge into one tile equal to the sum of the values of the two collided tiles. Player can continue to achieve higher scores. When the player has no legal moves (no more squares and can't move in 4 directions), the game is over.
                    </p>
                    <p>
                        + Movements: Press [A][W][D][S].
                    </p>
                    <p>
                        + Status: ready, playing, over; Click to change.
                    </p>
                    <p>
                        + Calculations: The amount of bonus experience is equal to the total score / 5; The number of bonus coins is equal to the amount of experience/2.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>