<!-- Settings button -->
<img src="~/assets/settings.png" width="57" height="57" class="settings-button" id="settingsButton" data-toggle="tooltip" data-placement="left" title="Open settings" />

<!-- Settings modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SETTINGS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <h3 class="text-center">Volume</h3>
                    <input id="volumeBar" class="volume-bar" type="range" min="0" max="100" value="50">
                </div>
                <br />
                <div>
                    <h3 class="text-center">Bright</h3>
                    <input id="brightnessBar" class="brightness-bar" type="range" min="50" max="150" value="100">
                </div>
            </div>
            <div class="modal-footer">
                <button id="exitGameConfirm" type="button" class="btn btn-warning float-right w-100 p-3" data-toggle="modal" data-target="#myModal2">Exit Game</button>
            </div>
        </div>
    </div>
</div>

<!-- Exit modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EXIT GAME</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">Are you sure you want to exit?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="signOutButton">Yes, I'm sure</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>