@{
    ViewBag.Title = "Blue Room";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />

    <partial name="_SettingsPartial" />

    <partial name="_StorePartial" />

    <partial name="_LoadingPartial" />

    <partial name="_SnakePartial" />

    <partial name="_BlueRoomGuidePartial" />

    <div class="blueRoom"></div>

    <div class="game-map" id="gameMap">
        <canvas id="blue_room"></canvas>
        <img width="50" height="50" class="portal portal-blue-room" src="~/assets/portal.png" />
        <img width="40" height="40" class="task task-blue-room" src="~/assets/task.png" />
        <div class="guide guide-blue-room" id="blueGuide" data-toggle="tooltip" data-placement="top" title="Open guide">
            <img width="32" height="32" src="~/assets/guide.png" />
            <img width="32" height="48" src="~/assets/NPC_Guide.png" />
        </div>
    </div>

    <audio autoplay loop id="audioSource">
        <source src="~/assets/audio.mp3" type="audio/mpeg">
    </audio>
</div>
