@{
    ViewBag.Title = "Green Room";
    Layout = "_Layout";
}

<h2>Green Room</h2>
<div class="position-relative hall h-100">
    <partial name="_ChatPartial"/>

    <partial name="_PlayerInfoPartial" />
    
    <div class="greenRoom"></div>

    <canvas id="green_room"></canvas>
</div>
