@{
    ViewBag.Title = "Green Room";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial"/>

    <partial name="_PlayerInfoPartial" />

    <partial name="_SettingsPartial" />
    
    <partial name="_StorePartial" />

    <partial name="_LoadingPartial" />
    
    <div class="greenRoom"></div>

    <div class="game-map" id="gameMap">
        <canvas id="green_room"></canvas>
        <img width="50" height="50" class="portal portal-green-room" src="~/assets/portal.png" />
        <img width="40" height="40" class="task task-green-room-1" src="~/assets/task.png" />
        <img width="40" height="40" class="task task-green-room-2" src="~/assets/task.png" />
    </div>

    <audio autoplay loop id="audioSource">
        <source src="~/assets/audio.mp3" type="audio/mpeg">
    </audio>
</div>
