@{
    ViewBag.Title = "Hall";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />
    
    <partial name="_SettingsPartial" />
    
    <partial name="_StorePartial" />
    
    <div class="intro"></div>

    <div class="hall-map">
        <canvas id="hall_map"></canvas>
        <img width="50" height="50" class="portal-1" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal-2" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal-3" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal-4" src="~/assets/portal.png" />
    </div>
</div>
