@{
    ViewBag.Title = "Hall";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />
    
    <partial name="_SettingsPartial" />
    
    <partial name="_StorePartial" />
    
    <partial name="_LoadingPartial" />
    
    <div class="intro"></div>

    <div class="game-map" id="gameMap">
        <canvas id="hall_map"></canvas>
        <img width="50" height="50" class="portal portal-1" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal portal-2" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal portal-3" src="~/assets/portal.png" />
        <img width="50" height="50" class="portal portal-4" src="~/assets/portal.png" />
    </div>

    <audio autoplay loop id="audioSource">
        <source src="~/assets/audio.mp3" type="audio/mpeg">
    </audio>
</div>
