@{
    ViewBag.Title = "Purple Room";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />
    
    <div class="purpleRoom"></div>

    <canvas id="purple_room"></canvas>
</div>
