@{
    ViewBag.Title = "Red Room";
    Layout = "_Layout";
}

<h2>Red Room</h2>
<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />
    
    <div class="redRoom"></div>
    
    <canvas id="red_room"></canvas>
</div>
