@{
    ViewBag.Title = "Red Room";
    Layout = "_Layout";
}

<div class="position-relative hall h-100">
    <partial name="_ChatPartial" />

    <partial name="_PlayerInfoPartial" />

    <partial name="_SettingsPartial" />
    
    <partial name="_StorePartial" />
    
    <div class="redRoom"></div>
    
    <canvas id="red_room"></canvas>

    <audio autoplay loop id="audioSource">
        <source src="~/assets/audio.mp3" type="audio/mpeg">
    </audio>
</div>
