@{
    ViewData["Title"] = "Begin your awesome journey with your friends";
}

<div class="position-relative hall h-100">
    <div class="homePage"></div>
    <div class="container home_page">
        <h1 class="text-center">Welcome to Journey</h1>
        <h4 class="text-center">Best Game Online 2D in 2021</h4>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="bg-dark active"></li>
                <li data-target="#demo" data-slide-to="1" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="2" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="3" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="4" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="5" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="6" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="7" class="bg-dark"></li>
                <li data-target="#demo" data-slide-to="8" class="bg-dark"></li>
            </ul>
            <div class="carousel-inner rounded" style="border-radius: 12px;">
                <div class="carousel-item active">
                    <img src="~/assets/intro_background.jpg" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/blue_background.jpg" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/green_background.jpg" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/red_background.jpg" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/purple_background.jpg" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/blue_room.png" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/green_room.png" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/red_room.png" width="1100" height="500" class="rounded">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/purple_room.png" width="1100" height="500" class="rounded">
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark p-4 rounded"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon bg-dark p-4 rounded"></span>
            </a>
        </div>
    </div>
</div>
