@{
    ViewBag.Title = "Sign in";
    Layout = "_Layout";
}

<div class="position-relative">
    <div class="intro vh-100"></div>
    <form class="signUpForm">
        <h1>SIGN IN</h1>
        <div class="form-group">
            <label class="text-white">Username</label>
            <input type="text" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label class="text-white">Password</label>
            <input type="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning float-right">Signin</button>
        </div>
    </form>
</div>