#hall_map, #blue_room, #green_room, #red_room, #purple_room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.blueRoom {
    background: url("../assets/blue_background.jpg") no-repeat center / cover;
    height: 100%;
}
.greenRoom {
    background: url("../assets/green_background.jpg") no-repeat center / cover;
    height: 100%;
}
.redRoom {
    background: url("../assets/red_background.jpg") no-repeat center / cover;
    height: 100%;
}
.purpleRoom {
    background: url("../assets/purple_background.jpg") no-repeat center / cover;
    height: 100%;
}
