.hall-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 928px;
  height: 478px;
}

.portal {
  position: absolute;
  animation: bounce 1s linear infinite alternate;
}

.portal-1 {
  top: 2.5rem;
  left: 2.5rem;
}

.portal-2 {
  top: 2.5rem;
  right: 2.5rem;
}

.portal-3 {
  bottom: 2.25rem;
  left: 2.5rem;
}

.portal-4 {
  bottom: 2.25rem;
  right: 2.5rem;
}

@keyframes bounce {
  from {
    transform: translateY(-1.5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
