.store-button {
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
  cursor: pointer;
  animation: shake 5s 0.5s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(29deg);
  }
  3% {
    transform: rotate(-29deg);
  }
  5% {
    transform: rotate(30deg);
  }
  7% {
    transform: rotate(-30deg);
  }
  9% {
    transform: rotate(28deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-26deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-22deg);
  }
  21% {
    transform: rotate(16deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(12deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-10deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-6deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-2deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.stamina-package p {
  color: gray;
  font-weight: 500;
}

.stamina-2,
.stamina-3 {
  width: 50px;
  height: 50px;
}

.stamina-2 > img:first-child {
  top: -1rem;
  left: -0.5rem;
}

.stamina-2 > img:nth-child(2) {
  top: 0.25rem;
  left: 1.5rem;
}

.stamina-3 > img:first-child {
  top: 0.25rem;
  left: -1.75rem;
}

.stamina-3 > img:nth-child(2) {
  top: -1rem;
  left: 0.5rem;
}

.stamina-3 > img:nth-child(3) {
  top: 0.25rem;
  left: 2.5rem;
}

.coin-amount > h4 {
  color: gray;
}
